<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-6">

      <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">Developer</h1>
                <p class="lead text-muted">Where code meets productivity.</p>
                <p>
                  <a href="<%= new_developer_path %>" class="btn btn-info col-8">Developer Signup</a>
                  <br>
                  <br>
                  <a href="<%= developer_login_path %>" class="btn btn-info col-8">Developer Login</a>
                </p>
              </div>
            </section>
    </div>
    <div class="col-6">
      <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Customer</h1>
              <p class="lead text-muted">Where code meets productivity.</p>
              <p>
                <a href="<%= new_customer_path %>" class="btn btn-info col-8">Customer Signup</a>
                <br>
                <br>
                <a href="<%= customer_login_path %>" class="btn btn-info col-8">Customer Login</a>
              </p>
            </div>
          </section>


    </div>
  </div>
</div>
