<div class="container">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
  </div>
</div>

<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Developer</h1>
          <p class="lead text-muted">Where code meets productivity.</p>
          <p>
            <a href="<%= new_developer_path %>" class="btn btn-info col-6">Sign up as Developer</a>
            <br>
            <br>
            <a href="<%= developer_login_path %>" class="btn btn-info col-6">Login as Developer</a>
          </p>
        </div>
      </section>

      <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Customer</h1>
              <p class="lead text-muted">Where code meets productivity.</p>
              <p>
                <a href="<%= new_customer_path %>" class="btn btn-info col-6">Sign up as Customer</a>
                <br>
                <br>
                <a href="<%= customer_login_path %>" class="btn btn-info col-6">Login as Customer</a>
              </p>
            </div>
          </section>
