<h1>Register</h1>

<%= button_to "Sign up as Developer", new_developer_path, method: :get %>
<%= button_to "Sign up as Customer", new_customer_path, method: :get %>

<br>
<%= button_to "Login as a Developer", developer_login_path, method: :get %>
<%= button_to "Login as a Customer", customer_login_path, method: :get %>
