@import "bootstrap";

// .signup-page-buttons {
//   display: grid;
//   grid-template-columns: 30% 30%;
// }

.margin {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 3em;
  margin-right: 3em;
}

.customize-text{
  color: #00a5bb;
}

.project-image {
  width: 80%
}
